@model  IList<Survey>
@{
    ViewData["Title"] = "Index";
}

<h1>Vote Results</h1>
@foreach (Survey survey in Model)
{
    <h3>@survey.ParkCode</h3>
    <p>@survey.Email</p>
    <p>@survey.State</p>
    <p>@survey.ActivityLevel</p>
}
