@model  IList<SurveyResults>
@{
    ViewData["Title"] = "Index";
}

<h1>Vote Results</h1>
@foreach (SurveyResults survey in Model)
{
<div class="survey-results">
    <div class="survey-result-img">
        <img src="~/img/parks/@(survey.ParkCode).jpg" />
    </div>
    <div class="survey-result-content">
        <h2>@survey.ParkName</h2>
        <h2>Votes: @survey.VoteCount</h2>
    </div>
</div>
}
