@model IList<Park>
@{
    ViewData["Title"] = "Home Page";
}


@foreach (Park park in Model)
{
    string parkimg = park.ParkCode.ToLower();
    <div class="park-index">
        <div class="index-img">
            <img src="~/img/parks/@(parkimg).jpg" />
        </div>
        <div class="index-description">
                <a class="park-link" asp-controller="home" asp-action="ParkDescription" asp-route-id ="@park.ParkCode" >  
            <h2 class="park-header">@park.Name</h2></a>
                <p>@park.Description</p>
         </div>
    </div>
}