@model IList<Park>
@{
    ViewData["Title"] = "Home Page";
}


@foreach (Park park in Model)
{
    string parkimg = park.ParkCode.ToLower();
    <div class="park-index">
        <div class="index-img">
            <img src="~/img/parks/@(parkimg).jpg" />
        </div>
        <div class="index-description">
                <h2>@park.Name</h2>
                <p>@park.Description</p>
         </div>
    </div>
}