img {
    width: 100%;
    height: auto;
}

h1, h2, h3, h4, a {
    font-family: 'Libre Franklin', sans-serif;
}

body {
    margin: 0;
    font-family: 'Libre Baskerville', serif;
    line-height: 1.5;
}

main {
    width: 90%;
    margin: 50px auto;
}

header {
    width: 100%;
}

#logo {
    width:50%;
    height: auto;
}

nav {

    display:flex;
    background-color: orange;
}

ul {
    padding-left:0px;
    margin: 0;
}

.nav-ul {
    padding-left: 0;
    display: flex;
    padding: 10px 20px;
    justify-content: flex-start;
}

li {
    list-style: none;
}

.nav-ul li:last-child {
    margin-left: 20px;
}

.park-index {
    margin: 50px 0px;
}

.index-description {

}

#weather-forecast img{
    height: 200px;
    width:auto;
}

.park-header, #survey-header {
    text-align: center;
}

.park-link {
    color: darkgreen;
}

.nav-link {
    text-decoration: none;
    color: darkgreen;
}

.daily-forecast h2 {
    text-align:center;
    color: darkgreen;
}

.temp {
    color: darkgreen;
    text-align: center;
}

.error {
    color: red;
}

.form-control {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}



.submit, #submit-button {
    font-family: 'Libre Franklin', sans-serif;
    padding: 10px 20px;
    border: none;
    margin: 0;
    background-color: orange;
    color: white;
}

.form-control input, .form-control select {
    padding: 5px;
}

.survey-img {
    display: none;
}

span {
    display: block;
    margin-bottom: 5px;
}

.form-control label {
    margin-right: 30px;
}

#survey {
    max-width: 500px;
    margin: 0 auto;
}





.temp {
    padding: 10px 20px;
}

    .submit:hover, #submit-button {
        cursor: pointer;
    }


@media only screen and (min-width: 768px)
{
    #weather-forecast {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .daily-forecast {
        width: 17%;
        padding: 10px;
    }


    .park-index, #park-description {
        display: flex;
        justify-content: space-between;
    }

    #park-description {
        margin: 50px 0px 50px 0px;
    }



    #park-img {
        width: 50%;
        align-self: center;
    }

    #park-details {
        width: 50%;
        align-self: center;
        margin-left: 20px;
        padding: 0px 10px 0px 10px;
    }

    .index-img, .index-description {
        width: 50%;
    }

    main {
        width: 80%;
    }

    .index-description {
        margin-left: 20px;
    }

    .index-img {
        align-self:center;
    }

    .nav-ul {
        width: 80%;
        margin:  20px auto;
    }

    .nav-link {
        margin-right: 30px;
        font-size: 20px;
    }

    #weather-forecast img {
        width: 100%;
        height: auto;
    }


    .form-control {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

        .form-control label {
            width: 30%;
        }

        .form-control select, .form-control input {
            width: 70%;
        }

    .survey-img {
        width: 20%;
    }

    #survey {
        width: 80%;
    }
    .survey-container {
        display: flex;
    }
}